<div class="page-container">
  <mat-grid-list [cols]="cols" rowHeight="2:1" gutterSize="1em">
    <mat-grid-tile *ngFor="let list of lists" (click)="openList(list.id)">
      <mat-grid-tile-header>{{ list.title }}</mat-grid-tile-header>
      <span>{{ list.completed }} completed of {{ list.count }}</span>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="button-container">
    <button
      mat-fab
      color="accent"
      matTooltip="Click To Add New To-do List."
      (click)="createTodoHandler()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
