mat-grid-tile {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.page-container {
  margin: 1em 1em;
}

.button-container {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
}

.mat-grid-tile {
  cursor: pointer;
}

.mat-grid-tile span {
  position: absolute;
  left: 20px;
  top: 70px;
}

@media (min-width: 900px) {
  .page-container {
    margin: 1em 8em;
  }
  .button-container {
    right: 8em;
  }
}
