body {
  margin: 0;
  padding: 0;
}

* *::before *::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.app-icon {
  margin: 0 8px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;

  mat-icon {
    vertical-align: text-bottom;
  }
}

.nav-link:visited {
  color: #ffffff;
}
